/* DOCUMENT INFORMATION 
    - Document: portfolio
    - Version : 1.0.0
    - Author : Laureen
*/



/* COLORS
    - Defaut body text #000
    - H1 #000
    - H2 #000
    - H3 #000

    - Background #f0d3bd
    - Hover contact #ffe5d8
    - Hover Menu #9d745e

    - Icones #000

    - Border #33211c
*/




/* FONTS
    - H1    Yesava One
    - H2    Prata
    - H3    Petit Formal Script
    - H4    Cormorant Garamond
    - P     Ralway
*/




/*CSS DIRECTORY
    1. =GLOBAL
    2. =HEADER
    3. =PRESENTATION
    4. =COMPETENCES
    5. =IMG TUILERIE
    6. =LOGICIELS
    7. =SEPARATION
    8. =REALISATIONS
    9. =IMG CHANTILLY
    10. =CONTACT
    11. =FOOTER
    12. =MENU
*/




/* GLOBAL
==========================*/


html {
    background-color : #fff;
}


h1{
    font-family:'Yesava One';
    font-size: 80px;
    color: black;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-top: auto;
}


h2{
    font-family: 'Prata';
    color: black;
    font-weight: 150;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-size: 30px;
}


h3{
    color: #000;
    font-size: 25px;
    margin-left:60px;
    margin-top: 100px;
    font-family: 'Petit Formal Script'; 
}


p{
    font-size: 14px;
    font-family: 'Raleway';
    font-weight: 300;
    line-height: 24px;
}




/* HEADER
==========================*/


header{
    background-image: url(../images/header.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-color:#fff;
    background-attachment: fixed;
    margin-top:70px;
    
    
}


.home-title h1{
    position: absolute;
    top:0;   
}


.home-title h2{
    position: absolute;
    text-align: center; 
}




/* PRESENTATION
==========================*/


.presentation{
    background-color:#f0d3bd ;  
}


.presentation-img {
    max-width: 90%;
    height: auto;
    margin-top: 0;
    position: relative;
    top: -70px;
}


.presentation h2{
    margin-bottom: 0;
    margin-top:35px;
}


.presentation h3{
    margin-top: 30px;
    margin-left: 0; 
}




/* COMPETENCES
==========================*/


.competence{
    margin-bottom:35px;
}


.competence-icon{
    font-size: 40px;
    color:#e6dbdb;
}


.competence-icon h3{
    max-width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 45px;   
}


.competence h2{
    margin-top: 35px;
}




/* IMAGE TUILERIE
==========================*/


.image-tuilerie{
    height: 75vh;
    background-image: url(../images/paris/sunset-tuilerie-2.JPG);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}




/* LOGICIELS
==========================*/


.logiciels{
    margin-bottom: 120px;
    border-right: 20px;
}


.logiciels h2{
    font-size: 30px;
}



.logiciels h3{
    font-family:'Petit Formal Script';
    max-width: 100%;
    height: auto;
    margin-left: 10px;
    margin-top: 45px;
    font-size: 17.49px;
}


.logiciels h4{
    font-family :'Cormorant Garamond';
    font-size: 20px;
    max-width: 100%;
    height: auto;
    margin-left: 10px;
    margin-top: 45px;
    
}



.logiciels p{
    max-height: 100%;
    font-size: 12px;
    
    
}


.bar{
    width: 160px;
    height: 1em;
    border-radius: 0.5em;
    position: relative;
    background: #f2f2f2;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1); 
    
}


.bar .percentage {
    position: relative;
    font-size: 1em;
    background: #d3a389;
    height: 1em;
    border-radius: 0.5em;
}


.has-tip:before,
.has-tip:after {
    content: "";
    position: absolute;
    opacity: 0;
  }


.has-tip:before {
    bottom: -10px;
    right: -5px;
    border: 5px solid;
    border-color: transparent transparent transparent;
    transition: opacity 0.1s;
  }


 .has-tip:after {
    content: attr(data-perc);
    bottom: 0;
    right: 0;
    white-space: nowrap;
    padding: 0.6em 1em;
    border-radius: 2em;
    line-height: 1;
    color: #fff;
    background: #d3a389;
    transform: translateX(50%) translateY(100%);
    transition: transform 0.2s, opacity 0.1s;
  }


.has-tip:hover:before,
.has-tip.active:before {
    opacity: 1;
}


.has-tip:hover:after,
.has-tip.active:after {
    opacity: 1;
    transform: translateX(50%) translateY(100%) translateY(10px);
}




/* SEPARATION
==========================*/

.separation{
	background: #d3a389;
	}




/* REALISATIONS
==========================*/

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background-color: white;
    margin-bottom: 35px; 
}


.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
}


.hovereffect img {
    margin-top: 35px;
    display: block;
    position: relative;
    max-width: 100%;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    
}


.hovereffect h2 {
    text-transform: uppercase;
    color: #000;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
}


.hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #d3a389;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}


.hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


.hovereffect a, .hovereffect p {
    color: #000;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    font-family:'Yesava One';
    font-size: 20px; 
}


.hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    color: #000;
}




/* IMAGE CHANTILLY
==========================*/


.louvre-tuilerie{
    height: 80vh;
    background-image: url(../images/chateau-chantilly.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}




/* CONTACT
==========================*/
    

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #33211c;
    font-size: 15px;
}


input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #33211c;
}


input::-moz-placeholder, textarea::-moz-placeholder {
    color: #33211c;
    font-size: 15px;
}


input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #33211c;
}
    

input::placeholder, textarea::placeholder {
    color: #33211c;
    font-size: 15px;
}


input:focus::placeholder, textarea::focus:placeholder {
    color: #33211c;
}


input::-ms-placeholder, textarea::-ms-placeholder {
    color: #33211c;
    font-size: 15px;
}


input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #33211c;
}


/* on hover placeholder */


input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #33211c;
    font-size: 15px;
}


input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #33211c;
}


input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #33211c;
    font-size: 15px;
}


input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #33211c;
}


input:hover::placeholder, textarea:hover::placeholder {
    color: #33211c;
    font-size: 15px;
}


input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #33211c;
}


input:hover::placeholder, textarea:hover::placeholder {
    color: #33211c;
    font-size: 15px;
}


input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: #33211c;
}


.contact {
    font-family: 'Raleway';
    background: #f0d3bd;
    color: #000;
    margin-top: 0px;
    background-color: #f0d3bd;
    width: 100%;
    margin-top: 0;
    text-align: center;
}


#form {
    position: relative;
    width: 500px;
    margin: 50px auto auto auto;
    background-color: #f0d3bd;
}


input {
    font-family: 'Raleway';
    font-size: 15px;
    width: 670px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: #f0d3bd;
    outline: none;
    color: #33211c;
    border: solid 1px #33211c;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
   
    display: inline-block;
    width: 100%;
    margin-top: 0;
    max-width: 600px;
    padding: 15px;
    resize: vertical;
}


input:hover {
    background: #ffe5d8;
    color: #33211c;
}


textarea {
    margin: auto;
    width: 670px;
    height: 210px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #33211c;
    font-family: 'Raleway';
    font-size: 15px;;
    border: solid 1px #33211c;
    box-sizing: border-box;
    
    width: 100%;
    margin-top: 0;
    max-width: 600px;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}


textarea:hover {
    background: #ffe5d8;
    color: #33211c;
}


#submit {
    width: 670px;
    padding: 0;
    margin: 0px 0px 35px 0px;
    font-family: 'Raleway';
    font-size: 15px;
    color: #33211c;
    outline:none;
    cursor: pointer;
    border: solid 1px #33211c;
    border-top: solid 1px #33211c;
    background-color: #f0d3bd;
    width: 100%;
    margin-top: 0;
    max-width: 600px;
}


#submit:hover {
    color: #33211c;
    background-color: #ffe5d8;
}




/* FOOTER
==========================*/


footer{
    background-color: #d3a389;
    color: #000;
    height: 60px;
    padding: 20px 20px 20px 20px;
    position :relative;
    
    
}


.copyright{
    text-align: center;
}


.copyright a{
    color:#000;
}




/* MENU
==========================*/


body {
  
    font-family:"Raleway";
    background-color: #fff;
    top: 0;
}


a {
    color: #d3a389;
}


/* header */

.nav{
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 #765848;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}


.nav ul {
    margin: auto;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    position:static;
}


.nav li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid transparent;
    text-decoration: none;
}



.nav .menu-btn:hover {
  background-color: transparent;
}


.nav li a:hover{
  color: #9d745e;
}


.nav .logo img{
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    width: 110px;
    position: absolute;
    top: -10px;
    left: 60px;
}


/* menu */


.nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}


/* menu icon */


.nav .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 30px ;
    position: relative;
    align-content: flex-start;
    user-select: none;
    width: 50px;
  
}
	

.nav .menu-icon .navicon {
    background: #9d745e;
    display: block;
    height: 2px;
    position: relative;
    left: auto;
    transition: background .2s ease-out;
    width: 18px;
}


.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
    background: #9d745e;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}


.nav .menu-icon .navicon:before {
    top: 5px;
}


.nav .menu-icon .navicon:after {
    top: -5px;
}


/* menu btn */


.nav .menu-btn {
    display: none;
    padding-left: 100px;
}


.nav .menu-btn:checked ~ .menu {
    max-height: 240px;
}


.nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}


.nav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}


.nva .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}


.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}


/* 48em = 768px */

@media (min-width: 48em) {
.nav li {
    float: left;
}
  
  
.nav li a {
    padding: 20px 30px;
    color: #d3a389;  3. 
}
  
  
.nav .menu {
    clear: none;
    float: right;
    max-height: none;
}
  
  
.header .menu-icon {
    display: none;
}
}




/* STUDIENT UNION
==========================*/

.bde h3{
  color: #000;
  text-align: center;
  font-size: 30px;
  font-family: 'Prata';
}


.bde h4{
  display: block;
  margin-bottom: 35px;
  margin-top: 35px;
  margin-left: 45px;
  font-size: 25px;
  font-family: 'Petit Formal Script';
  text-align: center;
  position: relative;
  left: 100px;
  top: 35px;
}


/*intro*/

.bde p2{
  display: block;
  text-align: center;
  margin-top: 20px;
}


/*gala*/
.title-gala h4{
    display: block;
    text-align: start;
  
}

.bde p1{
    display: block;
  margin-left: 65px;
  text-align: center;
  position: relative;
  top:15px; 
}


.bde img{
    display: block;
  position:relative;
  top: 35px;
  margin-bottom: 65px;
    margin-right: 40px;
  
  width: 600px; 
}

.icon-psd img{
  position: relative;
  margin-left: 190px;
  margin-top:0;
  width: 50px;
  
}



/*wei*/
.wei img{
  display: block;
  position:relative;
  top: 35px;
  margin-bottom: 65px;
  margin-left: 150px;
  width: 600px;
}

.bde p{
  display: block;
  margin-left: 65px;
  text-align: center;
  position: relative;
  left: 100px;
  top:15px;
}

.icon img{
  position: relative;
  margin-left: 290px;
  margin-top:0;
  width: 50px;
  
}



/* CHRISTMAS
==========================*/

.christmas img{
  display: block;
  position: relative;
  top: 65px;;
  right: 0;
  left: 0px;
  width: 600px;
  margin-bottom: 265px;
}


.christmas h3{
  color: #000;
  text-align: center;
  align-content: center;
  font-size: 30px;
  font-family: 'Prata';
}


.christmas h4{
  display: block;
  margin-bottom: 35px;
  margin-top: 45px;
  margin-left: 45px;
  font-size: 25px;
  font-family: 'Petit Formal Script';
  text-align: center;
  position: relative;
  left: 150px;
  top: 35px;
}


.christmas p{
  display: block;
  margin-bottom: 35px;
  margin-left: 65px;
  text-align: center;
  position: relative;
  left: 150px;
  top:15px;
}


.christmas p2{
  display: block;
  text-align: center;
}


.icone img{

    display: block;
  position: relative;
  left: 265px;
  top: 200px;
  width: 50px;
  margin: none;
}



/* BIRTHDAY
==========================*/


.birthday img{
    position:relative;
    top: 150px;
    margin-bottom: 400px;
    left: 0;
    width: 600px;  
}


.birthday p{
  display: block;
  margin-bottom: 35px;
  margin-left: 65px;
  text-align: center;
  position: relative;
  left: 100px;
  top: 125px;
}


.birthday h4{
  display: block;
  margin-bottom: 35px;
  margin-top: 45px;
  margin-left: 45px;
  font-size: 25px;
  font-family: 'Petit Formal Script';
  text-align: center;
  position: relative;
  left: 100px;
  top: 150px;
}


.birthday h3{
  color: #000;
  text-align: center;
  align-content: center;
  font-size: 30px;
  font-family: 'Prata';
  position: relative;
  top: 35px;
}


.icone img{
  position: relative;
  left: 265px;
  top: 200px;
  width: 50px;
  margin: none;
}


/* HALLOWEEN
==========================*/
.halloween h3{
  color: #000;
  text-align: center;
  font-size: 30px;
  font-family: 'Prata';
}


.halloween h4{
  display: block;
  margin-bottom: 35px;
  margin-top: 35px;
  margin-left: 45px;
  font-size: 25px;
  font-family: 'Petit Formal Script';
  text-align: center;
  position: relative;
  left: 100px;
  top: 35px;
}


/*intro*/
.halloween p2{
  display: block;
  text-align: center;
  margin-top: 20px;
}


/*party*/
.halloween p{
  display: block;
  margin-left: 65px;
  text-align: center;
  position: relative;
  left: 100px;
  top:15px;
}


.halloween img{
    position:inherit;
    top: 35px;
    margin-bottom: 35px;
    left: 0;
    width: 600px;  
}


.icone img{
  position: relative;
  left: 265px;
  margin-top:0;
  width: 50px;
  margin: none;
}


.gif img{
  display: block;
  position:relative;
  top: 35px;
  margin-bottom: 65px;
  left: 300px;
  width: 600px;
}










